<p>
  show-flowers works!
</p>
<ul *ngFor="let flower of flowers">
  <li style="list-style:none">
    <mat-card>
      {{flower.name}}: {{flower.petals}} petals, smells {{flower.scent}}
    </mat-card>
  </li>
</ul>

<button 
  mat-button
  id="plus-btn"
>
    <mat-icon>add</mat-icon>
</button>

<form >
  <mat-form-field>
      <textarea 
        matInput 
        placeholder="Name"
        [(ngModel)]="flower.name"
        name="name"
        required
      ></textarea>
  </mat-form-field>
  <mat-form-field>
      <textarea 
        matInput 
        placeholder="Number of petals"
        [(ngModel)]="flower.petals"
        name="petals"
        required
      ></textarea>
  </mat-form-field>
  <mat-form-field>
      <textarea 
        matInput 
        placeholder="Scent"
        [(ngModel)]="flower.scent"
        name="scent"
        required
      ></textarea>
  </mat-form-field>


  <label id="in-stock-radio-label">In stock or not in stock?</label>
  <mat-radio-group 
    aria-labelledby="in-stock-radio-label"
    [(ngModel)]="flower.inStock"
    name="inStock"
    ngDefaultControl
    >
      <mat-radio-button value="In stock" required>In stock</mat-radio-button>
      <mat-radio-button value="Not in stock" required>Not in stock</mat-radio-button>
  </mat-radio-group>

  <button 
    mat-button 
    id="submit-btn"
    type="reset" 
    value="Reset"
    (click)="saveFlower()">
      Submit
  </button>
</form>
