<form >
  <mat-form-field>
      <textarea 
        matInput 
        placeholder="Name"
        [(ngModel)]="flower.name"
        name="name"
        required
      ></textarea>
  </mat-form-field>
  <p>{{flower.name}}</p>
  <mat-form-field>
      <textarea 
        matInput 
        placeholder="Number of petals"
        [(ngModel)]="flower.petals"
        name="petals"
        required
      ></textarea>
  </mat-form-field>
  <mat-form-field>
      <textarea 
        matInput 
        placeholder="Scent"
        required
      ></textarea>
  </mat-form-field>


  <label id="in-stock-radio-label">In stock or not in stock?</label>
  <mat-radio-group aria-labelledby="in-stock-radio-label">
    <mat-radio-button value="In stock" required>In stock</mat-radio-button>
    <mat-radio-button value="Not in stock" required>Not in stock</mat-radio-button>
  </mat-radio-group>

  <button 
    mat-button 
    type="reset" 
    value="Reset"
    (click)="saveFlower()">
      Submit
  </button>
</form>
